---
import type { SelectProperty } from '../../../lib/interfaces.ts'
import { NUMBER_OF_POSTS_PER_PAGE } from '../../../server-constants.ts'
import {
  getPostsByTag,
  getAllTags,
  getNumberOfPagesByTag,
} from '../../../lib/notion/client.ts'
import Layout from '../../../layouts/Layout.astro'
import NoContents from '../../../components/NoContents.astro'
import PostDate from '../../../components/PostDate.astro'
import PostTags from '../../../components/PostTags.astro'
import PostTitle from '../../../components/PostTitle.astro'
import PostExcerpt from '../../../components/PostExcerpt.astro'
import Pagination from '../../../components/Pagination.astro'
import Header from '../../../components/Header.astro'
import BlogTagsLink from '../../../components/BlogTagsLink.astro'
import styles from '../../../styles/blog.module.css'
import '../../../styles/notion-color.css'

export async function getStaticPaths() {
  const allTags = await getAllTags()
  return allTags.map((tag: SelectProperty) => ({ params: { tag: tag.name } }))
}

const { tag } = Astro.params

const [posts, numberOfPages] = await Promise.all([
  getPostsByTag(tag, NUMBER_OF_POSTS_PER_PAGE),
  getNumberOfPagesByTag(tag),
])

const currentTag = posts[0].Tags.find((t) => t.name === tag)
---

<Layout title={`Posts in ${tag}`} path={`/posts/tag/${tag}`}>
  <div slot="header">
    <Header />
  </div>
  <div slot="main" class={styles.main}>
    <BlogTagsLink heading="Posts in" tags={[currentTag]} />

    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts
          .filter((post) => post.Slug.match(/^(?!_).*$/))
          .map((post) => (
            <div class={styles.posts} key={post.Slug}>
              <div class={styles.posts_right_pane}>
                <PostDate post={post} />
                <PostTags post={post} />
              </div>
              <div class={styles.posts_left_pane}>
                <PostTitle post={post} />
                <PostExcerpt post={post} />
              </div>
            </div>
          ))
      )
    }

    <footer class={styles.main}>
      <Pagination tag={tag} currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>
</Layout>
