---
import {
  getPostsByTag,
  getAllTags,
} from '../../../lib/notion/client.ts'
import Layout from '../../../layouts/Layout.astro'
import PostIndex from '../../../components/PostIndex.astro'
import BlogTagsLink from '../../../components/BlogTagsLink.astro'
import AsideInfo from '../../../components/AsideInfo.astro'
import styles from '../../../styles/blog.module.css'

export async function getStaticPaths() {
  const allTags = await getAllTags()
  return allTags.map((tag: string) => ({ params: { tag: tag }}))
}

const { tag } = Astro.params

const [posts, tags] = await Promise.all([
  getPostsByTag(tag),
  getAllTags(),
])
---

<Layout title={`Posts in ${tag}`} path={`/blog/tag/${tag}`}>
  <div className={styles.container}>
    <main>
      <PostIndex heading={"⚑ " + tag} posts={posts} />
    </main>

    <aside>
      <AsideInfo />
      <BlogTagsLink heading="⚑ Tags" tags={tags} />
    </aside>
  </div>
</Layout>
