---
import type { SelectProperty } from '../../../../../lib/interfaces.ts'
import {
  getPostsByTagAndPage,
  getAllTags,
  getNumberOfPagesByTag,
} from '../../../../../lib/notion/client.ts'
import Layout from '../../../../../layouts/Layout.astro'
import NoContents from '../../../../../components/NoContents.astro'
import PostDate from '../../../../../components/PostDate.astro'
import PostTags from '../../../../../components/PostTags.astro'
import PostTitle from '../../../../../components/PostTitle.astro'
import Pagination from '../../../../../components/Pagination.astro'
import Header from '../../../../../components/Header.astro'
import PageTitle from '../../../../../components/PageTitle.astro'
import styles from '../../../../../styles/blog.module.css'
import '../../../../../styles/notion-color.css'

export async function getStaticPaths() {
  const allTags = await getAllTags()

  let params = []

  await Promise.all(
    allTags.map((tag: SelectProperty) => {
      return getNumberOfPagesByTag(tag.name).then((numberOfPages: number) => {
        for (let i = 2; i <= numberOfPages; i++) {
          params.push({ params: { tag: tag.name, page: i.toString() } })
        }
      })
    })
  )

  return params
}

const { tag, page } = Astro.params

const [posts, numberOfPages] = await Promise.all([
  getPostsByTagAndPage(tag, parseInt(page, 10)),
  getNumberOfPagesByTag(tag),
])
---

<Layout
  title={`Posts in ${tag} ${page}/${numberOfPages}`}
  path={`/posts/tag/${tag}/page/${page}`}
>
  <div slot="header">
    <Header />
  </div>
  <div slot="main" class={styles.main}>
    <PageTitle title={`Posts in ${tag} ${page}/${numberOfPages}`} />

    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        posts
          .filter((post) => post.Slug.match(/^(?!_).*$/))
          .map((post) => (
            <div class={styles.posts} key={post.Slug}>
              <div class={styles.posts_right_pane}>
                <PostDate post={post} />
                <PostTags post={post} />
              </div>
              <div class={styles.posts_left_pane}>
                <PostTitle post={post} />
              </div>
            </div>
          ))
      )
    }

    <footer class={styles.main}>
      <Pagination
        tag={tag}
        currentPage={parseInt(page, 10)}
        numberOfPages={numberOfPages}
      />
    </footer>
  </div>
</Layout>
