---
import { getRankedPosts } from '../lib/notion/client.js'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import Header from '../components/Header.astro'
import PageTitle from '../components/PageTitle.astro'
import styles from '../styles/blog.module.css'

const [rankedPosts] = await Promise.all([getRankedPosts()])
---

<Layout title="Home" path="/posts">
  <div slot="header">
    <Header />
  </div>
  <div slot="main" class={styles.main}>
    <PageTitle title="Recommended" />

    {
      rankedPosts.length === 0 ? (
        <NoContents contents={rankedPosts} />
      ) : (
        rankedPosts
          .filter((post) => post.Slug.match(/^(?!_).*$/))
          .map((post) => (
            <div class={styles.posts} key={post.Slug}>
              <div class={styles.posts_right_pane}>
                <PostDate post={post} />
                <PostTags post={post} />
              </div>
              <div class={styles.posts_left_pane}>
                <PostTitle post={post} />
              </div>
            </div>
          ))
      )
    }
  </div>
</Layout>
