---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h3>{heading}</h3>
  <div class="blog-tags-link-tags">
    {
      tags.length === 0 ? (
        <NoContents contents={tags} />
      ) : (
        <>
          {tags.map((tag: SelectProperty) => (
            <a href={getTagLink(tag.name)} class={`tag ${tag.color}`}>
              {tag.name}
            </a>
          ))}
        </>
      )
    }
  </div>
</div>

<style>
  .blog-tags-link {
  }
  .blog-tags-link h3 {
    margin: 0px 0px 10px;
    text-align: center;
    font-size: 0.95rem;
    color: #777;
  }
  .blog-tags-link-tags {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0px 0px 15px;
    border-bottom: 2px solid #ddd;
  }
  .blog-tags-link-tags a,
  .blog-tags-link-tags span {
    align-items: center;
    flex-shrink: 1;
    min-width: 0;
    border-radius: 3px;
    padding: 2px 6px;
    margin: 0px 4px 0px 4px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
    background: rgba(227, 226, 224, 0.5);
  }
</style>
