---
import { Post } from '../lib/interfaces.ts'
import NoContents from './NoContents.astro'
import PostTitle from './PostTitle.astro'
import PostDate from './PostDate.astro'
import PostTags from './PostTags.astro'

export interface Props {
  heading: string
  posts: [Post]
}

const { heading, posts } = Astro.props
---
<div class="postIndex">
  <h2> {heading} </h2>

  {posts.length === 0 ? (
    <NoContents contents={posts} />
  ) : posts.filter(post => post.Slug.match(/^(?!_).*$/)).map(post => (
    <div class="postIndexContent" key={post.Slug}>
      <PostTitle post={post} />
      <div class="postIndexContentInfo">
        <PostDate post={post} />
        <PostTags post={post} />
      </div>
    </div>
  ))}
</div>

<style>
  .postIndex {
    margin: 5px auto 50px;
    max-width: 800px;
  }
  .postIndex h2 {
    margin: 0;
    font-size: larger;
    font-weight: 800;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
  @media (max-width: 600px) {
    .postIndex h2 {
      text-align: left;
      margin-left: 0px;
      margin-bottom: 0px;
    }
  }

  .postIndexContent {
    margin: 10px auto 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
  }
  .postIndexContentInfo {
    display: flex;
    justify-content: space-between;
    color: rgb(184, 184, 184);
  }
  .postIndexContentRight {
    display: flex;
    justify-content: flex-end;
  }

</style>
